*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
:root{
--main-color: #fff;
--secondary-color: #ff7f7f;
}
/* Header ===================================================================================================== */
#header{
width: 100%;
height: 100vh;
background: linear-gradient(rgba(253,97,97,0.8), rgba(253,97,97,0.8)), url(../img/bg/bg-1.png) bottom/cover;
background-blend-mode: multiply;
}
.nav{
width: 100%;
height: 150px;
background: rgba(255,127,127,0.7);
}
.nav-wrap{
grid-template-columns: 1fr min-content 1fr;
}
.nav li{
margin: 0 35px;
}
.nav-a{
text-transform: uppercase;
color: var(--main-color);
font-weight: 700;
}
#search{
justify-content: flex-end;
}
h1{
text-transform: uppercase;
color: var(--main-color);
margin-top: 180px;
}
.header-main p{
max-width: 750px;
color: var(--main-color);
margin: 40px 0;
}
/* Bestsellers section===================================================================================================== */
#bestsellers{
background: var(--secondary-color);
padding-bottom: 50px;
}
#bestsellers-abs{
position: relative;
}
.bestsellers-headline-wrap{
width: 100%;
position: absolute;
top: -200px;
}
.bestsellers-wrap{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 100px;
padding-top: 50px;
}
.bestsellers-wrap p{
text-align: center;
color: var(--main-color);
}
.bestsellers-wrap p:first-of-type{
margin: 40px auto 25px;
font-weight: 700;
}
.bestsellers-wrap img{
display: block;
margin: 0 auto;
}
/* Tasty section ===================================================================================================== */
#tasty{
background: url(../img/shapes/shape-2.png) bottom/cover;
}
.tasty-wrap{
grid-template-columns: 1fr 1fr;
}
.tasty-wrap img{
width: 500px;
}
/* Statistics section ===================================================================================================== */
#statistics{
background: var(--secondary-color);
}
.statistics-wrap{
grid-template-columns: 1fr 1fr 1fr;
}
.statistics-item{
width: 300px;
height: 300px;
margin: 0 auto;
border-radius: 50%;
border: 5px solid var(--main-color);
flex-direction: column;
}
.statistics-item p{
color: var(--main-color);
font-weight: 700;
}
.statistics-item p:last-of-type{
text-transform: uppercase;
}
/* Delicious section ===================================================================================================== */
#delicious img{
display: block;
margin: 0 0 0 auto;
}
/* About section ===================================================================================================== */
#about{
background: linear-gradient(rgba(253,97,97,0.8), rgba(253,97,97,0.8)), url(../img/bg/bg-2.png) bottom/cover;
background-blend-mode: multiply;
padding-bottom: 250px;
}
#about img{
display: block;
margin: 0 auto;
}
#about p{
color: var(--main-color);
text-align: center;
}
#about p:first-of-type{
max-width: 950px;
margin: 50px auto;
}
#about p:last-of-type{
font-weight: 700;
}
/* Subscribe section ===================================================================================================== */
#subscribe{
background: url(../img/shapes/shape-3.png) top/cover;
padding-bottom: 250px;
}
#subscribe p, #subscribe h2{
color: var(--secondary-color) !important;
}
.input-wrap{
margin: 0 auto;
width: 60%;
height: 60px;
max-width: 800px;
}
.input-wrap input{
width: 75%;
height: 100%;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
outline: none;
padding-left: 20px;
background: #f4f4f4;
border: none;
color: #c6c6c6;
}
.input-wrap input::placeholder{
font-size: 25px;
color: #c6c6c6;
}
.input-wrap button{
width: 25%;
height: 100%;
border: none;
outline: none;
color: var(--main-color);
background: var(--secondary-color);
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
cursor: pointer;
}
/* Utility classes ===================================================================================================== */
section:not(:first-of-type){
padding: 150px 0;
}
a{
text-decoration: none;
}
ul{
list-style-type: none;
}
.container{
width: 80%;
margin: 0 auto;
max-width: 1770px;
}
.container-sm{
width: 70%;
margin: 0 auto;
max-width: 1350px;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.align-center{
align-items: center;
}
.grid-container{
display: grid;
}
.text-xs{
font-size: 15px;
}
.text-sm{
font-size: 18px;
}
.text-md{
font-size: 25px;
}
.text-lg{
font-size: 50px;
}
.text-xl{
font-size: 70px;
}
.btn{
width: fit-content;
padding: 20px 80px;
background: var(--main-color);
color: var(--secondary-color);
text-transform: uppercase;
border-radius: 30px;
outline: none;
border: none;
display: block;
font-weight: 700;
}
.section-headline{
text-align: center;
text-transform: uppercase;
color: var(--main-color);
}
.section-description{
color: var(--main-color);
text-align: center;
max-width: 900px;
margin: 50px auto;
}
.section-headline-diffbg, .section-description-diffbg{
color: var(--secondary-color);
text-align: left;
}
.section-description-diffbg{
max-width: 750px;
}
.btn-diffbg{
background: var(--secondary-color);
color: var(--main-color);
}
